{% extends '@App/base.html.twig' %}
{% block content %}
{{ form_start(form, {'method': 'post'}) }}
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, { 'attr': { class: 'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.content) }}
            {{ form_widget(form.content, { 'attr' : {class: 'form-control'} }) }}
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save post</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}